= form_for @post do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: 'Title'
  .form-group
    = f.label :subtitle
    = f.text_field :subtitle, class: 'form-control', placeholder: 'Subtitle'
  .form-group
    = f.label :content
    = f.cktext_area :content, class: 'wysiwyg-editor'
  .form-group
    = f.check_box :publish
    = f.label :publish
  .form-group
    = f.check_box :feature
    = f.label :feature
  .form-group
    = f.select :tag_ids, @tags.collect{|t| [t.name, t.id]}, {}, multiple: true, class: 'tag-select browser-default', data: {select_two: true}

  = f.submit 'Save', class: 'btn btn-primary'


:javascript
  $('select').select2({
    width: '100%'
  });
