!!!
%html
  %head
    %title Ramble On
    %meta{content: "initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Comfortaa:700"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = analytics_init if GoogleAnalytics.valid_tracker?

  %body
    %h1.hidden-header Ramble On
    = render partial: 'shared/nav'
    = yield
